<%= react_component 'layout/Banner', { text: "Stables" } %>
<% @stables.each do |stable| %>
  <div class="stable" id="stables-<%=stable.id%>">
    <h2><%= stable.title %> Sumo Stable</h2>
    <p><%= stable.address %></p>
    <p><a href="<%= stable.website %>" ><%= stable.website %><a></p>
    <h3><a href="/stables/<%=stable.id%>" >More Info<a></h3>
  </div>
<% end %>