<!DOCTYPE html>
<html>
  <head>
    <title>SumoCity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('sumocity_favicon.ico') %>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  </head>

  <body>
    <div class="wrapper">
      <%= react_component "layout/Navbar" %>
      <%= yield %>
      <div class="push"></div>
    </div>
    <%= react_component 'layout/Footer' %>
  </body>
</html>
